<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Homepage</title>
        <script src="lib/react.js"></script>
        <script src="lib/react-dom.js"></script>
        <script src="lib/browser.min.js"></script>
    </head>
    <body>
        <div id="root">
            
        </div>
    </body>
</html>

